PyNaCl
aiohttp
async-timeout
asyncio
attrs
beautifulsoup4
certifi
cffi
chardet
discord-custom-help
discord.py
discord
ffmpeg
ffprobe
h11
h2
hpack
http3
httpcore
httpx
hyperframe
idna
lyricsgenius
multidict
nextcord
pip
pycparser
requests
rfc3986
roblox
robloxapi
setuptools
six
sniffio
soupsieve
typing-extensions
urllib3
wavelink
yarl
youtube-dl